main{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
    border-radius: 5%;
}

app-square{
    border: 1px gray solid;
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
