<div class="flex flex-row bg-zinc-800">
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="flex flex-col text-white items-center">
    <a routerLink="tateti">Ta-Te-Ti</a>
    <hr>
    <a routerLink="test">Test</a>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon class="text-white">view_headline</mat-icon>
    </button>
    <div class="pl-3 bg-zinc-800 text-white h-full w-full">
      <h2>Games</h2>
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>

</div>