.example-container {
    width: 100vw;
    height: 100vh;
    
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    background-color: rgb(39, 39, 42);
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: rgb(8, 12, 54);
  }

  a{
    padding: 10px;
  }